{% extends 'authentication/base.html' %}

{% block title %}
<title>Authentication</title>
{% endblock %}

{% block content %}
<div class="content_box">
    <div class="login_register">
        <div class="login">
            <p>Login</p>
        </div>
        <div class="register">
            <p>Register</p>
        </div>
    </div>
    <div class="form">
        <div class="form_content_login">
            <form action="login" method="POST">
                {% csrf_token %}
                <label for="username">Username</label>
            <input type="text" name="username" id="username">
            <label for="password">Password</label>
            <input type="password" name="password" id="password">
            <div class="submit_btn">
                <input type="submit">
            </div>
            </form>

        </div>
    </div>
</div>

{% endblock %}
